
@media screen and (max-width: 600px) {
    /* /////////////////////////footer/////////////////////// */
  .footer{
    width: 99.6%;
    height: 22em;
    border: 2px solid black;
    background-color: rgb(21, 31, 48);
    display: flex;
    z-index: 1;
  }
  .logof{
        font-size: 23px;
        color: rgb(245, 201, 79);
        left: 0.2em;
        margin:2em;
        position: absolute;
  }
  .social i {
    cursor: pointer;
    margin: 0.1em 0.1em;
    color: rgb(245, 201, 79);
}
.boxf2 {
    position: absolute;
    right: 7em;
    margin-top: 20em;
    color: white;
    font-size: 10px;
}
.emailf {
    width: 190px;
    height: 29px;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 3px solid black;
    margin: 31px 15px;
}
.about {
    background-image: url(https://img.freepik.com/free-vector/travel_23-2148038505.jpg?w=740&t=st=1701551511~exp=1701552111~hmac=ec77d99…);
    height: 402px;
    width: 80%;
    margin: 30px 30px;
    padding: 20px;
    background-repeat: repeat;
}
.social {
    color: rgb(245, 201, 79);
    height: unset;
    width: 173px;
    position: absolute;
    right: 21px;
    margin: 43px;
}
.boxf1 {
    position: absolute;
    margin: 50px;
    margin-top: 95px;
    margin-left: 19px;
    color: white;
    font-size: 12px;
} 

/* /////////////////////////faq//////////////////// */
.about h2 {
    margin: 62px 2px;
    background-image: linear-gradient(to right bottom, rgba(245, 201, 79, 0.686), rgb(146, 196, 237));
    width: 27px;
    height: 206px;
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 40px;
    border-radius: 1%;
    border: 4px solid rgb(21, 31, 48);
    font-weight: 700;
}


#faq {
        margin: 9px 66px;
        width: 70%;
        background-color: rgba(245, 201, 79, 0.688);
        border: 2px solid black;
        border-radius: 6px;
        font-weight: 700;
        padding: 0px 26px;
        border: 3.3px solid rgb(27, 41, 65);
    }

    /* /////////////////cities///////////////// */
    #container1 {
        margin: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
        padding: 2em;
        top: 20px;
        display: flex;
        flex-direction: row;
        
      }
      #container1::-webkit-scrollbar {
        display: none;
      }  /* cities */
      #back{
       display: none;
      }
      #next{
           display: none;
      }
      
      .gallarywrap {
        width: 1em;
        position: absolute;
        right: -1em;
        margin-right: 120px;
        display: flex;
        flex-direction: row-reverse;
      }
      .imgBorder {
        margin: 0em 0.0em;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 10em;
        width: 10em;
        flex: none;
      }
      
      .images {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        border: 2px solid rgb(21, 31, 48);
        justify-content: space-evenly;
      }
      
      .text {
        text-align: center;
        padding: 4px;
      }
      
      .explore{
        justify-content: center;
        text-align: center;
        margin: 4em 0px 0px 0px;
      }
}

